

img {
    height: 500px;
}



.text {
    margin-right: 10%;
    margin-left: 10%;
    /* border: 1px solid orange; */
}


.checkout {
    text-align: center;
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 400px;
    border: 3px solid gray;
    background-color: #e9d8a6;
    box-shadow: 4px 4px 2px darkgray;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

select {
    width: 180px;
    margin-bottom: 5px;
}

input, textarea {
    width: 272px;
    margin-bottom: 5px;
}

