img {
  border: 7px solid black;
  box-shadow: 4px 4px 2px #ade8f4;
}

/* Container needed to position the overlay*/
.container {
  position: relative;
  /* width: 50%;
  max-width: 300px;*/
}

/* Make the image responsive */
.jpg {
  display: block;
  width: 97%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.gif {
  position: absolute;
  bottom: 0;
  width: 97%;
  transition: 0.5s ease;
  opacity: 0;
}

/* When you mouse over the container, fade in the gif */
.container:hover .gif {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 5%;
}
span::after,
span::before {
  opacity: 0;
  content: "-";
}
