body {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1000px;
    /* width: 1000px; */
    height: 100vh;
    border: 1px solid black;
    background-color: rgb(32, 32, 32);
}

.login {
    text-align: center;
    margin-top: 10px;
    background-color: white;
    width: 200px;
    height: 250px;
    border: 3px solid gray;
    background-color: lightgray;
    box-shadow: 4px 4px 2px darkgray;
    /* position: fixed;
    right: 50%;
    margin-right: -100px;
    bottom: 50%;
    margin-bottom: -125px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

input {
    text-align: center;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
color: purple;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

img {
    /* position: relative;
    bottom: 25px; */
    margin-top: -15%;
    height: 50px;
    width: 50px;
    border: 3px solid gray;
    background-color: lightgray;
    box-shadow: 4px 4px 2px darkgray;
}