

img {
    height: 250px;
}


.text {
    margin-right: 10%;
    margin-left: 10%;
    border: 1px solid orange;
    margin-bottom: 10px;
}


/* .sizeTable {
    margin-right: 2%;
    margin-left: 2%;
    border: 1px solid red;
} */



table {
    border-collapse: collapse;
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
}
th{
    text-align: left;
}
tr:nth-child(even) {
    background-color: white;
}
tr:nth-child(odd) {
background-color: lightgray;
}
tr {
    border-bottom: 2px solid black;
}